.main-btn{
	width: 150px;
	background-color: $mancolor;
	color: #fff;
	line-height: 2.5;
	margin: 20px;
	border: 0;
	text-transform: uppercase;
	&:hover{
		background-color: transparent;
		border: 1px solid $mancolor;
	}

}
.scand-btn{
	width: 150px;
	background-color:transparent;
	color: #fff;
	line-height: 2.5;
	margin: 20px;
	border: 1px solid $mancolor;
	text-transform: uppercase;
	&:hover{
		background-color: $mancolor;
		border: 1px solid $mancolor;
	}
}
.btn-three{
	width: 250px;
	background-color:$mancolor;
	color: #fff;
	line-height: 2.5;
	margin: 20px;
	border: 1px solid $mancolor;
	text-transform: uppercase;
	&:hover{
		background-color: #fff;
		border: 1px solid #fff;
		color: $mancolor;
	}
}
h1{
	text-transform: uppercase;
	line-height: 2;
	color: #fff
}
.red{
	color:#c21522
}
.icon-style{
	
	margin-right: 20px;
	border-radius: 10px;
	font-size: 30px;
}
.bnt-balck{
	width: 150px;
	background-color:$mancolor;
	color: #fff;
	line-height: 2.5;
	margin: 20px;
	border: 1px solid #fff;
	text-transform: uppercase;
	&:hover{
		background-color: black;
		border: 1px solid #fff;
		cursor:pointer;
	}
}
.margin{
	margin: 30px 15px;
}
.star-style{
	color: $mancolor;
	margin-left: 5px;
}
.last{
	border-right: 1px solid #6f6f6f;
	padding-left: 10px;
	padding-right: 10px
  
	}
