.firstsecotin{
.soicial{
		height: 50px;
		color: #fff;
		line-height: 1.5;
		padding: 10px;
			.icon{
				color:#fff
				 }
			.text1{
				line-height: 1.5;
				color: #fff;
				text-transform: uppercase;
       			  }
		 }
}
.firstsecotin{
		.header{
			.black{
				display: non;
			}

		}
		.soicial{

				
					.icon{
						
						 }
					.text1{
						
		       			  }
				 }
}




/**/



.ovarlay{
   
}
.icon-style{
	
	margin-right: 20px;
	border-radius: 10px;
	font-size: 30px;
}
.fathar{
	position: relative;
	.blockstyle{
		position: absolute;
		bottom: 30%;
		left: 20%;
		z-index: 9999
}
}
.corus-search{
	
	.container{
		padding-top: 10px;
		.row{
			input{
				
				width:600px;
				border: 1px solid #eee;
				line-height: 2.5;
				

			}
			.form-control{
				height: 43px;
				width: 300px;
				margin-top: 30px;
				border-radius: 0;
				border: 1px solid #eee;
			}
			.bnt-balck{
				margin-left: 0px;
				width: 200px;
				
			}
		
		}
	}
}
.Services{

		.Services-centar{
					padding-top: 50px;
				
					h2{
								
							}
							span{
								
								
							}
							p{
								
								
							}
					.row{
							margin-top: 50px;
							
							strong{
								margin-left: 35px
							}
							i{
								margin-left: -70px
								
							}
							p{
								
							}
						}

				  }

}
.news{
	
	.container{
		
			.pragraf{
				
			}
		.row{
			
			
			.black2{
				
				.relative{
					padding-bottom:50px;
					text-align: center;
					display: block;
					width: 300px;
					margin-left: 50px;
					.smal{
						left: 90%;
						
						span{
						
						}
					}
					img{
						margin: auto;
						transform: scaleX(1.5);
						&:hover{
							
						}
					}
					.pragraf-news{
						width: 350px;
						margin-left: -50px;
						&:hover{
						
						}
					}

			 }	
			}
			
		}
	}
}