#container{

	#content{
		width: 66%;
		float: left;
	}
	#sidebar{
		 
	}
}


.firstsecotin{
		.header{
			.block{
				
			}

		}
		.soicial{

				height: 50px;
				color: #fff;
				line-height: 1.5;
				padding: 10px;
					.icon{
						color:#fff
						 }
					.text1{
						line-height: 1.5;
						color: #fff;
						text-transform: uppercase;
		       			  }
				 }
}

.about{
	position: relative;
	.container{
		background-color: $mancolor;
		.row{
			
			.about-div{

				 
				.about-span{
					padding: 10px;
					padding-top: 10px;
					color: #fff;
					i{
						margin-top: 30px;

					}

				}
				p{
						padding-left: 10px;
						margin-top: 9px
					}
				.new-boton{
				
				}	
			}
		}
	}
	
}

.corus-search{
	
	.container{
		.row{
			position: relative;
			input{
				
				width:430px;
				border: 1px solid #eee;
				line-height: 2.2;
				position: absolute;
				left: -30px;
				margin-top: 30px

			}
			.form-control{
				height: 40px;
				width: 300px;
				margin-top: 30px;
				border-radius: 0;
				border: 1px solid #eee;
				position: absolute;
				right: 190px;
			}
			.bnt-balck{
				margin-left: 0px;
				width: 200px;
				position: absolute;
				right: -40px;
			}
		
		}
	}
}
.event{
	
	.container{
		h2{

		}
		span{
			
		}
		
		.row{
			
			.sub-event{
			


				.date{
					
					p{
						
					}
					span{
						
					}
				}
				.address{
					font-size: 20px
					
				}
				.text{
					padding-left: 55px
				}
				ul{
				
					li{
						display: inline;
						padding-left: 3px;
						
						i{
							padding-right: 5px;
						}
					}
				}
				&:hover{
				
					
				}
			}
		}
	}
}


.testimonials{
		padding-top: 50px;
		h2{
			display: block;
			margin-bottom: 10px;
		}

		.contant-slider{
			
			margin-left: 10px;


			.row{
				padding-top: 10px;
				h4{
					
				}
			}
			p{
				
			}
		}
	
}
.subscribbe{
	
	h2{
		
	}
	form{
		.email{
			width: 600px;
			
		}
		.main-btn{
			
			&:hover{
				
			}
		}
	}
}