#container{

	#content{
		border: 1px solid #eee;
		background: green;
		position: relative;
	}
	#sidebar{
		border: 1px solid #333;
		background: blue;
	}
}

/*start header secation*/
.hidden-md-up{
	height: 70vh;
	background: linear-gradient(rgba( 0,0,0,.5   ), rgba(0,0,0,.5)), url("../img/p31.jpeg") fixed center center;
	background-size: cover;	background-repeat: no-repeat;

}
.firstsecotin{


		.header{
			
			width: 100%;
			z-index: 100;
			position: absolute;
			.bg-faded{
				background-color:  $mancolor;
				color: #fff;

			}
			.nav-link{
					color: #fff;
					text-transform: uppercase;
					&:hover{
						color:#fff;
					}
					&:active{
						color:#fff;
					}
					}
			.dropdown{	
					color: #fff;	
					.dropdown-toggle::after{
								content: none;
							&:hover{
								color:$mancolor;
							}
							&:active{
								color:#fff;
							}	
							}
							
					}

			.block{
				form{
					background-color: $mancolor;
					input{
						background-color: $mancolor;
						border: 1px solid #fff;
						color: #fff;
						border-radius: 0;

					}
					/*.placeholder{
						color: #fff;
					}*/
				}
				i{
					position: absolute;
					right: 20px;
				}
			}
			.btn-secondary{
				background-color: $mancolor;
				line-height: 1.5;
			}
		}
		.navbar-toggleable-md{
		 	
		 	.navbar-nav{
		 		margin: auto;
		 		.nav-link{
		 			    padding-right: 1.3rem;
    					padding-left: 1rem;
		 		}
		 	}
		 }
}
input-placeholder{
							color:white;
						}

.navbar{
			background-color: $mancolor;	
		}

		/*start model*/
		.modal{
			.modal-dialog{
				.modal-content{
					background-color:#fff;
					.modal-header{
						background-color: $mancolor;
						color: white;
						button{
							color: white;
						}
					}
					.modal-body{
						padding-bottom: 60px;
						div{
							label{
								width: 150px;
								text-transform: uppercase;
								margin: 30px 5px;

							}
							input{
								line-height: 2;
								width: 90%;
								margin: auto;
								&:focus{
									border:1px solid $mancolor;
									outline: none;
								}
							}
						}
					}
					.modal-footer{
						background-color:#09010f;
						&:focus{
							outline:none;
						}
						&:active{
							border: none;
							outline: none;
						}
						
					}
				}
			}
		}

		/*end model*/

/*thes select	of sliedar	*/

.about{
	position: relative;
	.container{
		background-color: $mancolor;
		.row{
			
			.col-sm-6{
				color: #fff;

				.about-span{
					
					i{
						margin-top: 30px;

					}

				}
				p{
						padding-left: 10px;
						
					}
				.new-boton{
					width: 150px;
					background-color: transparent;
					text-transform: uppercase;
					line-height: 2.5;
					border: 1px solid #fff;
					margin-top:15px;
					margin-left: 10px;
					color: #fff;
					margin-bottom: 10px;
					&:hover{
						background-color:#fff;
						color: $mancolor;
						cursor:pointer;
					}
				}	
			}
		}
	}
	
}
/*search*/
.corus-search{
	
	.container{
		.row{
			input{
				
				width:300px;
				border: 1px solid #eee;
				line-height: 2.5
			}
			.form-control{
				height: 40px;
				width: 300px;
				margin-top: 20px;
				border-radius: 0;
				border: 1px solid #eee;
			}
			.bnt-balck{
				margin-left: 0px;
				width: 300px
			}
		
		}
	}
}

.Services{

		.Services-centar{
					padding-top: 10px;
					text-align: center;

					h2{
								color: $mancolor;	
								text-align: center;
							}
							span{
								color: #333333;
								text-transform: uppercase;
								
							}
							p{
								color: #6f6f6f;
								padding-top: 20px;
								padding-left: 30px;
								text-align: center;
								text-align: justify;
								top: 20px;
								left: 55px;
								
							}
					.row{
							padding-bottom: 30px
							
							strong{
								margin-left: 10px;
							}
							i{
								
								margin-left: -25px;
								color: $mancolor
							}
							p{
								padding-left: 40px;
								text-align: justify;
							}
						}

				  }

}
.newslider{

	/*height: 800px;*/
	/*width: 1349px;*/
	background-color: $thirdcolor;
	padding: 40px;
	.card{
		margin-left: 5px;
		overflow: hidden;
	    transition:all .7s ease-in-out;
		border-bottom: 12px solid #fbdada;
		
		.pohot-card{
			
			overflow: hidden;
			.photo{
			
			transition: 1s;
			transition:all .7s ease-in-out;
			
			
		}
		}


		
		
		.card-block{

			.center{
				text-align: center;
				h4{
					text-transform: uppercase;
				}
				img{
					border-radius: 50%;
				}
				p{
					margin-top: 10px;
					font-size: 20px;
					
				}				
			}
		}
		&:hover{
			transform: translateY(-15px);
		    border-bottom: 12px solid $mancolor;
		    .photo{
				transform: scale(1.1,1.1);

				
			}


		}
	}
}
.transparent{
	background: linear-gradient(rgba( 0,0,0,.5   ), rgba(0,0,0,.5)), url("../img/p3.jpeg") fixed center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	color: #fff;
	padding-top: 90px;
	text-align: center;
	h3{
		font-size: 45px;
	}
	p{
		margin-top: 20px
	}	
	.row{
		padding: 40px;
		div{
			padding: 20px;
			i{
				color: $mancolor;
				margin-bottom: 10px;
				display: block;
			}
		}
	}
}


.event{
	padding-top: 100px;
	.container{
		h2{
			text-align: center;
			span{
			display: block;
				font-size: 20px;
				margin-top: 10px;
			
		}

		}
		
		
		.row{
			justify-content: space-between;
			padding-left: 10px;
			.sub-event{
				margin-top: 10px;
				
				background-color: #f6f6f6;
				padding: 30px 30px;
				transition:all .7s ease-in-out;
				transform-origin: 50% 0;


				.date{
					display: block;
					border-right: 1px solid #fbdada;
					padding: 0 10px;
					p{
						font-size: 20px;
						
					}
					span{
						display: block;
						font-size: 15px;
						margin-top: -25px;
					}
				}
				.address{
					margin:auto;
					text-transform: uppercase;
					font-size: 20px;
					color: $mancolor
				}
				.text{
					padding-left: 80px;	
					color: #6f6f6f;
				}
				ul{
					
					li{
						list-style-type: none;
						padding-left: 40px;
						margin-bottom: 10px;
						color: #a6a4a4;

						i{
							padding-right: 20px
						}
					}
				}
				&:hover{
					border-top: 1px solid $mancolor;
					border-right: 1px solid $mancolor;
					border-bottom: 1px solid $mancolor;
					border-left: 1px solid $mancolor;
					transform: translateY(-4px);
					
				}
			}
		}
	}
}
.black{
	margin-top: 100px;
	background-color: black;
	padding-top: 100px;
	color: #fff;
	
	padding-bottom: 20px;
	font-size: 25px;
	.container{
		text-align: center;
	}
}

.news{
	padding-top: 100px;
	.container{
		.row{

			.news-card{
				position: relative;
				transition: all .7 ease-in-out;
				margin-bottom: 35px;
				.smal{
					background-color: $mancolor;
					width: 40px;
					padding: 10px;
					font-size: 20px;
					color: white;
					position: absolute;
					top: -30px;
					left: 45%;
					z-index: 7;
					span{
						display: block;
						font-size:13px;
						text-transform: uppercase;
					}
				}
				.news-text{
					background-color: #f6f6f6;
					transform: scaleX(.9);
					transition: all .7 ease-in-out;
				}
				.text{
					padding: 40px;
					margin: auto;
					h6{
						color: $mancolor;
						text-align: center;
					}
					p{

					}
					
				}
				&:hover{
		img{
			opacity: .5
		}
		.news-text{
			
			.text{
				background-color: $mancolor;
				h6{
					color: white;
				}
				p{
					color: #f6f6f6;
				}	
			}
		}
	}
			}
		}
		
	}

}







.testimonials{
		padding-top: 100px;
		h2{
			text-transform: uppercase;
			margin-left: 20px;
			margin-bottom: 60px;
		}
		.row{
			.contant-slider{
				
				background-color: #f6f6f6;
				margin: auto;
				border: 1px solid #f6f6f8;
				margin-bottom: 20px;


				.row{
					padding-top: 10px;
					h4{
						margin: auto;
						text-transform: uppercase;
						font-size: 20px;
						color: $mancolor;
					}
				}
				p{
					padding-left: 100px;
					padding-right: 20px;
					color: #6f6f6f;
				}
			}
			.more{
				.more-text{
					background-color: #f6f6f6;
					/*height: 50px;*/
					line-height: 30px;
					padding-left: 20px;
					margin-bottom: 10px;
					i{
						transform: rotate(-90deg);
					}
					span{
						margin-left: 20px;
					}
					.text{
						line-height: 1.5;

						display: none;

					}
				}
			}
		}	
	
}
.subscribbe{
	background-color: $mancolor;
	text-align: center;
	color: #fff;
	padding: 100px 30px;
	h2{
		margin-bottom: 20px;
	}
	form{
		.email{
			width: 270px;
			margin-bottom: 10px;
			height: 50px;
			padding-left: 20px;
		}
		.main-btn{
			border: 1px solid white;
			&:hover{
				background-color:#fff;
				color: $mancolor;
			}
		}
	}
}
footer{
	background-color: black;
	color: white;
	padding: 50px 40px;
	box-sizing: content-box;
	
		.row{
			.first{
				h4{
					margin-bottom: 40px;
				}
				a{
					color: white;
					display: block;
					&:hover{
						 text-decoration: none;
					}
					.fa-caret-right{
						padding-right: 10px;
					}
				}
				ul{
					margin-top: 20px;
					display: flex;
					text-align: center;
					margin-left: -60px;
					li{
						list-style-type: none;
						a{
							width: 50px;
							height: 50px;
							background-color: #212121;
							border-radius: 50%;
							line-height: 50px;
							margin-left: 10px;
							transition:all .7s ease-in-out;
							&:hover{
								background-color:$mancolor;
								transform: rotate(360deg);
							}
							i{
								margin-left: 10px;
							}
						}
					}
				}

			}
			.second{
				h4{
					margin-bottom: 60px;
				}
				div{
					width: 270px;
					height: 70px;
					border: 1px solid #212121;
					position: relative;
					margin-bottom: 30px;
					transition:all .7s ease-in-out;
					i{
						background-color: white;
						color: $mancolor;
						width: 40px;
						height: 40px;
						border-radius: 50%;
						text-align: center;
						line-height: 40px;
						font-size: 25px;
						margin: auto;
						position: absolute;
						left: 40%;
						top: 10px;
						transition:all .7s ease-in-out;
					}
					p{
						position: absolute;
						left: 20%;
						top: 25px;
						display: none;
						font-size: 20px;
					}
					&:hover{
						background-color: white;
						i{
							top: -20px;
							background-color: $mancolor;
							color: white;
						}
						p{
							display: block;
							color: #212121;
						}
					}

				}
			}
			.third{
				    max-width: 15%;
				h4{
					margin-bottom: 60px;
				}
				a{
					color: white;
					display: block;
					margin-bottom: 15px;
					&:hover{
						 text-decoration: none;
					}
					i{
						padding-right: 20px;
					}
				}
				
			}
			.fourth{
				h4{
					margin-bottom: 50px;
				}
				.row{
					margin-bottom: 15px;
					.date{
						width: 50px;
						height: 50px;
						background-color: $mancolor;
						text-align: center;
						font-size: 25px;
						span{
							display: block;
							font-size: 13px;
							margin-top: -10px;
							text-transform: uppercase;
						}
					}
					.footer-row{
						h6{
							margin-left: 10px;
						}
						.row{
							.clock{
								margin-left: 30px;
								color: #c5c5c5;
								padding-right: 10px;
								border-right:  1px solid #6f6f6f; 
							}
							.last{
								margin-left: 10px;
								border: 0px;
							}
						}
					}
				}
			}
		}
	
}
.last-footer{
	text-align: center;
	height: 50px;
	background-color: #090909;
	line-height: 50px;
	color: white;
	.red{
		border-right: 1px solid $mancolor;
		padding-right: 10px;
	}

}



/*first secation in event*/
.intro{
	 background:linear-gradient(rgba( 0,0,0,.5   ), rgba(0,0,0,.5)),url(../img/p32.jpeg);
	 background-size: cover;
	 height: 900px;
}