.main-btn {
  width: 150px;
  background-color: #c21522;
  color: #fff;
  line-height: 2.5;
  margin: 20px;
  border: 0;
  text-transform: uppercase; }
  .main-btn:hover {
    background-color: transparent;
    border: 1px solid #c21522; }

.scand-btn {
  width: 150px;
  background-color: transparent;
  color: #fff;
  line-height: 2.5;
  margin: 20px;
  border: 1px solid #c21522;
  text-transform: uppercase; }
  .scand-btn:hover {
    background-color: #c21522;
    border: 1px solid #c21522; }

.btn-three {
  width: 250px;
  background-color: #c21522;
  color: #fff;
  line-height: 2.5;
  margin: 20px;
  border: 1px solid #c21522;
  text-transform: uppercase; }
  .btn-three:hover {
    background-color: #fff;
    border: 1px solid #fff;
    color: #c21522; }

h1 {
  text-transform: uppercase;
  line-height: 2;
  color: #fff; }

.red {
  color: #c21522; }

.icon-style {
  margin-right: 20px;
  border-radius: 10px;
  font-size: 30px; }

.bnt-balck {
  width: 150px;
  background-color: #c21522;
  color: #fff;
  line-height: 2.5;
  margin: 20px;
  border: 1px solid #fff;
  text-transform: uppercase; }
  .bnt-balck:hover {
    background-color: black;
    border: 1px solid #fff;
    cursor: pointer; }

.margin {
  margin: 30px 15px; }

.star-style {
  color: #c21522;
  margin-left: 5px; }

.last {
  border-right: 1px solid #6f6f6f;
  padding-left: 10px;
  padding-right: 10px; }

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
#container #content {
  border: 1px solid #eee;
  background: green;
  position: relative; }
#container #sidebar {
  border: 1px solid #333;
  background: blue; }

/*start header secation*/
.hidden-md-up {
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/p31.jpeg") fixed center center;
  background-size: cover;
  background-repeat: no-repeat; }

.firstsecotin .header {
  width: 100%;
  z-index: 100;
  position: absolute; }
  .firstsecotin .header .bg-faded {
    background-color: #c21522;
    color: #fff; }
  .firstsecotin .header .nav-link {
    color: #fff;
    text-transform: uppercase; }
    .firstsecotin .header .nav-link:hover {
      color: #fff; }
    .firstsecotin .header .nav-link:active {
      color: #fff; }
  .firstsecotin .header .dropdown {
    color: #fff; }
    .firstsecotin .header .dropdown .dropdown-toggle::after {
      content: none; }
      .firstsecotin .header .dropdown .dropdown-toggle::after:hover {
        color: #c21522; }
      .firstsecotin .header .dropdown .dropdown-toggle::after:active {
        color: #fff; }
  .firstsecotin .header .block form {
    background-color: #c21522;
    /*.placeholder{
    	color: #fff;
    }*/ }
    .firstsecotin .header .block form input {
      background-color: #c21522;
      border: 1px solid #fff;
      color: #fff;
      border-radius: 0; }
  .firstsecotin .header .block i {
    position: absolute;
    right: 20px; }
  .firstsecotin .header .btn-secondary {
    background-color: #c21522;
    line-height: 1.5; }
.firstsecotin .navbar-toggleable-md .navbar-nav {
  margin: auto; }
  .firstsecotin .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 1.3rem;
    padding-left: 1rem; }

input-placeholder {
  color: white; }

.navbar {
  background-color: #c21522; }

/*start model*/
.modal .modal-dialog .modal-content {
  background-color: #fff; }
  .modal .modal-dialog .modal-content .modal-header {
    background-color: #c21522;
    color: white; }
    .modal .modal-dialog .modal-content .modal-header button {
      color: white; }
  .modal .modal-dialog .modal-content .modal-body {
    padding-bottom: 60px; }
    .modal .modal-dialog .modal-content .modal-body div label {
      width: 150px;
      text-transform: uppercase;
      margin: 30px 5px; }
    .modal .modal-dialog .modal-content .modal-body div input {
      line-height: 2;
      width: 90%;
      margin: auto; }
      .modal .modal-dialog .modal-content .modal-body div input:focus {
        border: 1px solid #c21522;
        outline: none; }
  .modal .modal-dialog .modal-content .modal-footer {
    background-color: #09010f; }
    .modal .modal-dialog .modal-content .modal-footer:focus {
      outline: none; }
    .modal .modal-dialog .modal-content .modal-footer:active {
      border: none;
      outline: none; }

/*end model*/
/*thes select	of sliedar	*/
.about {
  position: relative; }
  .about .container {
    background-color: #c21522; }
    .about .container .row .col-sm-6 {
      color: #fff; }
      .about .container .row .col-sm-6 .about-span i {
        margin-top: 30px; }
      .about .container .row .col-sm-6 p {
        padding-left: 10px; }
      .about .container .row .col-sm-6 .new-boton {
        width: 150px;
        background-color: transparent;
        text-transform: uppercase;
        line-height: 2.5;
        border: 1px solid #fff;
        margin-top: 15px;
        margin-left: 10px;
        color: #fff;
        margin-bottom: 10px; }
        .about .container .row .col-sm-6 .new-boton:hover {
          background-color: #fff;
          color: #c21522;
          cursor: pointer; }

/*search*/
.corus-search .container .row input {
  width: 300px;
  border: 1px solid #eee;
  line-height: 2.5; }
.corus-search .container .row .form-control {
  height: 40px;
  width: 300px;
  margin-top: 20px;
  border-radius: 0;
  border: 1px solid #eee; }
.corus-search .container .row .bnt-balck {
  margin-left: 0px;
  width: 300px; }

.Services .Services-centar {
  padding-top: 10px;
  text-align: center; }
  .Services .Services-centar h2 {
    color: #c21522;
    text-align: center; }
  .Services .Services-centar span {
    color: #333333;
    text-transform: uppercase; }
  .Services .Services-centar p {
    color: #6f6f6f;
    padding-top: 20px;
    padding-left: 30px;
    text-align: center;
    text-align: justify;
    top: 20px;
    left: 55px; }
  .Services .Services-centar .row {
    padding-bottom: 30px strong;
      padding-bottom-margin-left: 10px; }
    .Services .Services-centar .row i {
      margin-left: -25px;
      color: #c21522; }
    .Services .Services-centar .row p {
      padding-left: 40px;
      text-align: justify; }

.newslider {
  /*height: 800px;*/
  /*width: 1349px;*/
  background-color: #ededed;
  padding: 40px; }
  .newslider .card {
    margin-left: 5px;
    overflow: hidden;
    transition: all .7s ease-in-out;
    border-bottom: 12px solid #fbdada; }
    .newslider .card .pohot-card {
      overflow: hidden; }
      .newslider .card .pohot-card .photo {
        transition: 1s;
        transition: all .7s ease-in-out; }
    .newslider .card .card-block .center {
      text-align: center; }
      .newslider .card .card-block .center h4 {
        text-transform: uppercase; }
      .newslider .card .card-block .center img {
        border-radius: 50%; }
      .newslider .card .card-block .center p {
        margin-top: 10px;
        font-size: 20px; }
    .newslider .card:hover {
      transform: translateY(-15px);
      border-bottom: 12px solid #c21522; }
      .newslider .card:hover .photo {
        transform: scale(1.1, 1.1); }

.transparent {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/p3.jpeg") fixed center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  color: #fff;
  padding-top: 90px;
  text-align: center; }
  .transparent h3 {
    font-size: 45px; }
  .transparent p {
    margin-top: 20px; }
  .transparent .row {
    padding: 40px; }
    .transparent .row div {
      padding: 20px; }
      .transparent .row div i {
        color: #c21522;
        margin-bottom: 10px;
        display: block; }

.event {
  padding-top: 100px; }
  .event .container h2 {
    text-align: center; }
    .event .container h2 span {
      display: block;
      font-size: 20px;
      margin-top: 10px; }
  .event .container .row {
    justify-content: space-between;
    padding-left: 10px; }
    .event .container .row .sub-event {
      margin-top: 10px;
      background-color: #f6f6f6;
      padding: 30px 30px;
      transition: all .7s ease-in-out;
      transform-origin: 50% 0; }
      .event .container .row .sub-event .date {
        display: block;
        border-right: 1px solid #fbdada;
        padding: 0 10px; }
        .event .container .row .sub-event .date p {
          font-size: 20px; }
        .event .container .row .sub-event .date span {
          display: block;
          font-size: 15px;
          margin-top: -25px; }
      .event .container .row .sub-event .address {
        margin: auto;
        text-transform: uppercase;
        font-size: 20px;
        color: #c21522; }
      .event .container .row .sub-event .text {
        padding-left: 80px;
        color: #6f6f6f; }
      .event .container .row .sub-event ul li {
        list-style-type: none;
        padding-left: 40px;
        margin-bottom: 10px;
        color: #a6a4a4; }
        .event .container .row .sub-event ul li i {
          padding-right: 20px; }
      .event .container .row .sub-event:hover {
        border-top: 1px solid #c21522;
        border-right: 1px solid #c21522;
        border-bottom: 1px solid #c21522;
        border-left: 1px solid #c21522;
        transform: translateY(-4px); }

.black {
  margin-top: 100px;
  background-color: black;
  padding-top: 100px;
  color: #fff;
  padding-bottom: 20px;
  font-size: 25px; }
  .black .container {
    text-align: center; }

.news {
  padding-top: 100px; }
  .news .container .row .news-card {
    position: relative;
    transition: all .7 ease-in-out;
    margin-bottom: 35px; }
    .news .container .row .news-card .smal {
      background-color: #c21522;
      width: 40px;
      padding: 10px;
      font-size: 20px;
      color: white;
      position: absolute;
      top: -30px;
      left: 45%;
      z-index: 7; }
      .news .container .row .news-card .smal span {
        display: block;
        font-size: 13px;
        text-transform: uppercase; }
    .news .container .row .news-card .news-text {
      background-color: #f6f6f6;
      transform: scaleX(0.9);
      transition: all .7 ease-in-out; }
    .news .container .row .news-card .text {
      padding: 40px;
      margin: auto; }
      .news .container .row .news-card .text h6 {
        color: #c21522;
        text-align: center; }
    .news .container .row .news-card:hover img {
      opacity: 0.5; }
    .news .container .row .news-card:hover .news-text .text {
      background-color: #c21522; }
      .news .container .row .news-card:hover .news-text .text h6 {
        color: white; }
      .news .container .row .news-card:hover .news-text .text p {
        color: #f6f6f6; }

.testimonials {
  padding-top: 100px; }
  .testimonials h2 {
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 60px; }
  .testimonials .row .contant-slider {
    background-color: #f6f6f6;
    margin: auto;
    border: 1px solid #f6f6f8;
    margin-bottom: 20px; }
    .testimonials .row .contant-slider .row {
      padding-top: 10px; }
      .testimonials .row .contant-slider .row h4 {
        margin: auto;
        text-transform: uppercase;
        font-size: 20px;
        color: #c21522; }
    .testimonials .row .contant-slider p {
      padding-left: 100px;
      padding-right: 20px;
      color: #6f6f6f; }
  .testimonials .row .more .more-text {
    background-color: #f6f6f6;
    /*height: 50px;*/
    line-height: 30px;
    padding-left: 20px;
    margin-bottom: 10px; }
    .testimonials .row .more .more-text i {
      transform: rotate(-90deg); }
    .testimonials .row .more .more-text span {
      margin-left: 20px; }
    .testimonials .row .more .more-text .text {
      line-height: 1.5;
      display: none; }

.subscribbe {
  background-color: #c21522;
  text-align: center;
  color: #fff;
  padding: 100px 30px; }
  .subscribbe h2 {
    margin-bottom: 20px; }
  .subscribbe form .email {
    width: 270px;
    margin-bottom: 10px;
    height: 50px;
    padding-left: 20px; }
  .subscribbe form .main-btn {
    border: 1px solid white; }
    .subscribbe form .main-btn:hover {
      background-color: #fff;
      color: #c21522; }

footer {
  background-color: black;
  color: white;
  padding: 50px 40px;
  box-sizing: content-box; }
  footer .row .first h4 {
    margin-bottom: 40px; }
  footer .row .first a {
    color: white;
    display: block; }
    footer .row .first a:hover {
      text-decoration: none; }
    footer .row .first a .fa-caret-right {
      padding-right: 10px; }
  footer .row .first ul {
    margin-top: 20px;
    display: flex;
    text-align: center;
    margin-left: -60px; }
    footer .row .first ul li {
      list-style-type: none; }
      footer .row .first ul li a {
        width: 50px;
        height: 50px;
        background-color: #212121;
        border-radius: 50%;
        line-height: 50px;
        margin-left: 10px;
        transition: all .7s ease-in-out; }
        footer .row .first ul li a:hover {
          background-color: #c21522;
          transform: rotate(360deg); }
        footer .row .first ul li a i {
          margin-left: 10px; }
  footer .row .second h4 {
    margin-bottom: 60px; }
  footer .row .second div {
    width: 270px;
    height: 70px;
    border: 1px solid #212121;
    position: relative;
    margin-bottom: 30px;
    transition: all .7s ease-in-out; }
    footer .row .second div i {
      background-color: white;
      color: #c21522;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 25px;
      margin: auto;
      position: absolute;
      left: 40%;
      top: 10px;
      transition: all .7s ease-in-out; }
    footer .row .second div p {
      position: absolute;
      left: 20%;
      top: 25px;
      display: none;
      font-size: 20px; }
    footer .row .second div:hover {
      background-color: white; }
      footer .row .second div:hover i {
        top: -20px;
        background-color: #c21522;
        color: white; }
      footer .row .second div:hover p {
        display: block;
        color: #212121; }
  footer .row .third {
    max-width: 15%; }
    footer .row .third h4 {
      margin-bottom: 60px; }
    footer .row .third a {
      color: white;
      display: block;
      margin-bottom: 15px; }
      footer .row .third a:hover {
        text-decoration: none; }
      footer .row .third a i {
        padding-right: 20px; }
  footer .row .fourth h4 {
    margin-bottom: 50px; }
  footer .row .fourth .row {
    margin-bottom: 15px; }
    footer .row .fourth .row .date {
      width: 50px;
      height: 50px;
      background-color: #c21522;
      text-align: center;
      font-size: 25px; }
      footer .row .fourth .row .date span {
        display: block;
        font-size: 13px;
        margin-top: -10px;
        text-transform: uppercase; }
    footer .row .fourth .row .footer-row h6 {
      margin-left: 10px; }
    footer .row .fourth .row .footer-row .row .clock {
      margin-left: 30px;
      color: #c5c5c5;
      padding-right: 10px;
      border-right: 1px solid #6f6f6f; }
    footer .row .fourth .row .footer-row .row .last {
      margin-left: 10px;
      border: 0px; }

.last-footer {
  text-align: center;
  height: 50px;
  background-color: #090909;
  line-height: 50px;
  color: white; }
  .last-footer .red {
    border-right: 1px solid #c21522;
    padding-right: 10px; }

/*first secation in event*/
.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/p32.jpeg);
  background-size: cover;
  height: 900px; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hidden-md-up {
    height: 100vh; }

  .about {
    position: relative; }
    .about .container {
      background-color: #c21522; }
      .about .container .row .col-sm-6 {
        color: #fff; }
        .about .container .row .col-sm-6 .about-span {
          padding: 10px;
          padding-top: 10px;
          color: #fff;
          margin-top: 40px; }
          .about .container .row .col-sm-6 .about-span i {
            margin-top: 30px; }
        .about .container .row .col-sm-6 p {
          padding-left: 10px;
          margin-top: 9px; }

  .corus-search .container .row {
    padding-top: 20px; }
    .corus-search .container .row input {
      width: 100%;
      border: 1px solid #eee;
      line-height: 2.5; }
    .corus-search .container .row .form-control {
      height: 40px;
      width: 310px;
      margin-top: 10px;
      border-radius: 0;
      border: 1px solid #eee; }
    .corus-search .container .row .bnt-balck {
      margin-left: 20px;
      width: 310px;
      margin-top: 30px; }

  .Services .Services-centar {
    padding-top: 50px; }
    .Services .Services-centar .row {
      margin-top: 50px; }

  .event .container .row .sub-event .address {
    margin-left: auto; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #container #content {
    width: 66%;
    float: left; }

  .firstsecotin .soicial {
    height: 50px;
    color: #fff;
    line-height: 1.5;
    padding: 10px; }
    .firstsecotin .soicial .icon {
      color: #fff; }
    .firstsecotin .soicial .text1 {
      line-height: 1.5;
      color: #fff;
      text-transform: uppercase; }

  .about {
    position: relative; }
    .about .container {
      background-color: #c21522; }
      .about .container .row .about-div .about-span {
        padding: 10px;
        padding-top: 10px;
        color: #fff; }
        .about .container .row .about-div .about-span i {
          margin-top: 30px; }
      .about .container .row .about-div p {
        padding-left: 10px;
        margin-top: 9px; }

  .corus-search .container .row {
    position: relative; }
    .corus-search .container .row input {
      width: 430px;
      border: 1px solid #eee;
      line-height: 2.2;
      position: absolute;
      left: -30px;
      margin-top: 30px; }
    .corus-search .container .row .form-control {
      height: 40px;
      width: 300px;
      margin-top: 30px;
      border-radius: 0;
      border: 1px solid #eee;
      position: absolute;
      right: 190px; }
    .corus-search .container .row .bnt-balck {
      margin-left: 0px;
      width: 200px;
      position: absolute;
      right: -40px; }

  .event .container .row .sub-event .address {
    font-size: 20px; }
  .event .container .row .sub-event .text {
    padding-left: 55px; }
  .event .container .row .sub-event ul li {
    display: inline;
    padding-left: 3px; }
    .event .container .row .sub-event ul li i {
      padding-right: 5px; }

  .testimonials {
    padding-top: 50px; }
    .testimonials h2 {
      display: block;
      margin-bottom: 10px; }
    .testimonials .contant-slider {
      margin-left: 10px; }
      .testimonials .contant-slider .row {
        padding-top: 10px; }

  .subscribbe form .email {
    width: 600px; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .firstsecotin .soicial {
    height: 50px;
    color: #fff;
    line-height: 1.5;
    padding: 10px; }
    .firstsecotin .soicial .icon {
      color: #fff; }
    .firstsecotin .soicial .text1 {
      line-height: 1.5;
      color: #fff;
      text-transform: uppercase; }

  .firstsecotin .header .black {
    display: non; }

  /**/
  .icon-style {
    margin-right: 20px;
    border-radius: 10px;
    font-size: 30px; }

  .fathar {
    position: relative; }
    .fathar .blockstyle {
      position: absolute;
      bottom: 30%;
      left: 20%;
      z-index: 9999; }

  .corus-search .container {
    padding-top: 10px; }
    .corus-search .container .row input {
      width: 600px;
      border: 1px solid #eee;
      line-height: 2.5; }
    .corus-search .container .row .form-control {
      height: 43px;
      width: 300px;
      margin-top: 30px;
      border-radius: 0;
      border: 1px solid #eee; }
    .corus-search .container .row .bnt-balck {
      margin-left: 0px;
      width: 200px; }

  .Services .Services-centar {
    padding-top: 50px; }
    .Services .Services-centar .row {
      margin-top: 50px; }
      .Services .Services-centar .row strong {
        margin-left: 35px; }
      .Services .Services-centar .row i {
        margin-left: -70px; } }

/*# sourceMappingURL=style.css.map */
